<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All dishes
    </h1>

    <a href="/dishes/new" class="btn btn-block btn-outline-secondary">
      Add a new dish
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "dish_templates/dishes_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Cuisine
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @dishes.each do |dish| %>
      <tr>
        <td>
          <%= dish.id %>
        </td>

        <td>
          <%= dish.name %>
        </td>

        <td>
          <% if dish.cuisine.present? %>
            <a href="/cuisines/<%= dish.cuisine.id %>">
              <%= dish.cuisine.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(dish.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(dish.updated_at) %> ago
        </td>

        <td>
          <a href="/dishes/<%= dish.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @dishes, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
