<% if @bookmark.errors.any? %>
  <% @bookmark.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit bookmark #<%= @bookmark.id %>
</h1>

<hr>

<form action="/update_bookmark/<%= @bookmark.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name, @bookmark.dish_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @bookmark.venue_id), :class => "form-control") %>
  </div>


  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @bookmark.notes %></textarea>
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <%= cl_image_tag(@bookmark.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
