<h1>
  Edit bookmark #<%= @bookmark.id %>
</h1>

<hr>

<!-- Form bookmark start -->
<form action="/update_bookmark/<%= @bookmark.id %>" method="post" enctype="multipart/form-data">
<!-- Form bookmark end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <!-- Input for dish_id start -->
    <input type="text" id="dish_id" name="dish_id" class="form-control" value="<%= @bookmark.dish_id %>">
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <input type="text" id="venue_id" name="venue_id" class="form-control" value="<%= @bookmark.venue_id %>">
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @bookmark.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for notes start -->
  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <!-- Input for notes start -->
    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @bookmark.notes %></textarea>
    <!-- Input for notes end -->
  </div>
  <!-- Label and input for notes end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <%= cl_image_tag(@bookmark.image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="image" name="image" class="form-control">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <button class="btn btn-block btn-outline-secondary">
    Update bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
