<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bookmark #<%= @bookmark.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bookmarks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link bookmark start -->
      <div class="col">
        <a href="/bookmarks/<%= @bookmark.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit bookmark
        </a>
      </div>
      <!-- Edit link bookmark end -->

      <!-- Delete link bookmark start -->
      <div class="col">
        <a href="/delete_bookmark/<%= @bookmark.id %>" class="btn btn-block btn-outline-secondary">
          Delete bookmark
        </a>
      </div>
      <!-- Delete link bookmark end -->
    </div>

    <dl>
      <dt>
        Dish
      </dt>
      <!-- Display dish_id start -->
      <dd>
        <%= @bookmark.dish_id %>
      </dd>
      <!-- Display dish_id end -->

      <dt>
        Venue
      </dt>
      <!-- Display venue_id start -->
      <dd>
        <%= @bookmark.venue_id %>
      </dd>
      <!-- Display venue_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @bookmark.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Notes
      </dt>
      <!-- Display notes start -->
      <dd>
        <%= @bookmark.notes %>
      </dd>
      <!-- Display notes end -->

      <dt>
        Image
      </dt>
      <!-- Display image start -->
      <dd>
        <%= @bookmark.image %>
      </dd>
      <!-- Display image end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@bookmark.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@bookmark.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
